<div class="footer_container">
  <div class="footer">
    <ul class="footer_banner_box_container clearfix">
      <li class="footer_banner_box super_light_blue">
        <h2>
          IEPSCF Namur Cadets
        </h2>
        <p>
          <a class="icon_small_arrow right_white" href="contact.html">Contactez-nous</a>
        </p>
      </li>
      <li class="footer_banner_box light_blue">
        <h2>
          Nos formations
        </h2>
        <p>
          <a class="icon_small_arrow right_white" href="formations.html#filter=.20">Une formation qui vous correspond</a>
        </p>
      </li>
      <li class="footer_banner_box blue">
        <h2>
          Dernières actualités
        </h2>
        <p>
          <a class="icon_small_arrow right_white" href="actualites.html">Tenez-vous informé(e) de nos événements</a>
        </p>
      </li>
    </ul>
    <div class="
					clearfix">
      <div class="footer_box">
        <p class="info">
          N'hésitez pas à nous contacter pour de plus amples informations.<br><br>
          <span class="blue">Heures d'ouverture:</span><br>
          Lundi au vendredi de <span class="white">8.30 à 12.15</span> &amp; <span class="white">13.15 à 21.05</span> <br>
          Samedi de <span class="white">8.30 à 13.30</span><br><br>
          IEPSCF Namur Cadets<br>
          Place de l'Ecole des Cadets,6<br>
          5000 NAMUR<br><br>
          Tél: <span class="white">081/22.92.39</span> <br>
          Fax: <span class="white">081/22.85.87</span> <br>
          Email: <a href="mailto:info@iepscf-namur.be" title="Envoyer un Email">info@iepscf-namur.be</a>
          <br>
          Accès professeurs:
          <a href="http://91.183.215.212/DBEnora/Enora/Cefor/1identification.php">Private</a>
        </p>


        <ul class="social_icons clearfix">
          <li>
            <a class="social_icon facebook" href="#" title="" target="_blank">
              &nbsp;
            </a>
          </li>
          <li>
            <a class="social_icon twitter" href="#" title="" target="_blank">
              &nbsp;
            </a>
          </li>
          <li>
            <a class="social_icon mail" href="mailto:info@iepscf-namur.be" title="">
              &nbsp;
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_box"><div class="scrolling_list_wrapper"></div>
      </div>
      <div class="footer_box last">
        <div class="clearfix">
          <div class="header_left">
          </div>
        </div>
        <div class="scrolling_list_wrapper">
          <ul class="scrolling_list ">
            <li class="icon_small_arrow right_white">
              <a href="actualites-122.html">Pôle : dispositif étudiants-entrepreneurs namurois
              </a>
              <abbr class="timeago" title="20-11-2016">20-11-2016</abbr>
            </li>
            <li class="icon_small_arrow right_white">
              <a href="actualites-123.html">Nouvelles formations à partir de janvier 2017
              </a>
              <abbr class="timeago" title="24-01-2017">24-01-2017</abbr>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright_area clearfix">
      <div class="copyright_left">
        © Copyright - <a href="panel/login.html" title="IEPSCF CADET" target="_blank">Iepscf</a> -
        <a href="mailto:matthieuberhin@gmail.com" title="IEPSCF CADET" target="_blank">webmaster</a> -
        <a href="http://www.freedigitalphotos.net" title="IEPSCF CADET" target="_blank">Photo Credits</a>

      </div>
      <div class="copyright_right">
        <a class="scroll_top icon_small_arrow top_white" href="#top" title="Scroll to top">Top</a>
      </div>
    </div>
  </div>
</div>
