<div class="row">
  <h1 class="col-sm-12">Informations</h1>
</div>
<div class="row">
  <div class="col-sm-8">
    <h3 class="box_header">
      Droit d'inscription
    </h3>

    <p>
      Les étudiants paient (généralement) un droit d'inscription dont le montant est calculé au prorata du nombre d'heures de cours suivies et en fonction du niveau d'enseignement.
    </p>

    <h3 class="box_header">
      Exonération du droit d'inscription
    </h3>

    <p>
      Une exonération du droit d'inscription principal est accordée
    </p>

    <ul>
      <li>aux demandeurs d'emploi (chômeurs complets indemnisés) après soumission de la demande au FOREM;</li>
      <li>aux personnes assistées par les Centres Publics d'Action Sociale, sur présentation d'une attestation du CPAS;</li>
      <li>aux handicapés inscrits au Fonds Communautaire d'Intégration Sociale et Professionnelle, sur base d'une attestation délivrée par cet organisme (AWIPH);</li>
      <li>aux jeunes gens de moins de 18 ans soumis à l'obligation scolaire, sur base d'une attestation de l'établissement de plein exercice où ils sont inscrits;</li>
      <li>aux personnes à qui une autorité publique impose de suivre des cours, sur base d'une attestation du chef de service;</li>
      <li>aux enseignants dont la formation en promotion sociale contribue directement à leur perfectionnement, sur base d'une attestation du chef d'établissement.</li>
    </ul>

    <p>
      Les étudiants repris dans les catégories ci-dessus paient une inscription complémentaire et unique de 25 € , quels que soient les cours suivis.
    </p>


    <h3 class="box_header">
      Congé - éducation
    </h3>
    <p>
      S'ils sont employés à temps plein dans le secteur privé, les étudiants peuvent bénéficier des dispositions de la loi dite
      "des crédits d'heures" de 1973 et solliciter un congé-éducation de 80 heures (cours de langue), 100 heures pour une formation professionnelle ou 120 heures dans le cadre d’une formation de bachelier,
      voire de 180 heures si la formation permet d’obtenir un titre d’études dans un domaine en pénurie, pour suivre les cours et participer aux examens. Le congé-éducation peut être étendu à
      un maximum de 120 heures si les heures de travail coïncident avec les heures de cours.
      Les étudiants employés à temps partiel peuvent également bénéficier d'un congé-éducation mais en quantité proportionnelle à leurs prestations en temps partiel.
      <br>
      <br>
      La demande de congé-éducation doit être introduite à l'inscription ou dans les quinze jours qui suivent l'inscription. L'attestation d'inscription
      destinée à l'employeur sera disponible au secrétariat à la fin du mois de l'inscription. L'attestation d'assiduité établie sur base des
      feuilles mensuelles de présences sera délivrée par le secrétariat fin janvier, fin avril et fin juin.
    </p>

    <h3 class="box_header">
      Valorisation des acquis – dispense
    </h3>

    <a href="assets/documents/roi_valorisation.pdf" target="_blank">Consulter la procédure</a><p></p>

    <h3 class="box_header">Informations sur la Promotion Sociale</h3>


    <a href="assets/documents/esps.pdf" target="_blank">L'enseignement supérieur en Promotion Sociale</a><p></p>
    <p>
      <a href="assets/documents/glossaire.pdf" target="_blank">Le glossaire de la Promotion Sociale</a>
    </p>



    <div class="sentence">
      L'IEPSCF Namur Cadets n'est nullement tenu d'organiser systématiquement toutes les <abbr title="Unités d'enseignement">UE</abbr> existantes. En effet, suite à un manque de périodes
      organisables ou à un nombre insuffisant de participations, une <abbr title="Unités d'enseignement">UE</abbr> pourrait temporairement ne pas être disponible. Les horaires peuvent être modifiés.
    </div>

  </div>
  <div class="col-sm-4">
    <wp-contact-information></wp-contact-information>
  </div>
</div>
