<div class="row">
  <h1>Contact</h1>
</div>
<div class="row">
  <h3 class="box_header">Liste des contacts</h3>
  <ul class="row">
    <li class="info col-sm-4" *ngFor="let contactPerson of contactPeople">
      <!--That should be a component-->
      <img class="info" src="/assets/images/features_small/info.png">
      <h3>{{contactPerson.title}}</h3>
      <p *ngIf="contactPerson.name">{{contactPerson.name}}</p>
      <p *ngIf="contactPerson.directPhoneNumber">Tél : {{contactPerson.directPhoneNumber}}</p>
      <p *ngIf="contactPerson.fax">Fax : {{contactPerson.fax}}</p>
      <p *ngIf="contactPerson.mail"><a href="mailto:{{contactPerson.mail}}">{{contactPerson.mail}}</a></p>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-8">
    <wp-contact-form [contactPeople]="contactPeople"></wp-contact-form>
  </div>
  <div class="col-sm-4">
    <h3 class="box_header">
      Informations
    </h3>
    <p class="sentence">
      Veuillez tenir compte qu'en période d'inscription, nos lignes téléphoniques sont souvent occupées.Merci pour votre compréhension et votre patience.
    </p>
    <h3 class="box_header">
      Réinscriptions et inscriptions
    </h3>
    <p class="info">
      Les réinscriptions et inscriptions sont organisées :
      - A partir du 1 septembre 2016 du lundi au vendredi de 8h30 à 12h et de 13h15 à 21h05 et le samedi de 8h30 à 13h30.
    </p>
    <b>Veuillez vous munir :</b><br>
    <ul>
      <li><b>- de votre carte d'identité</b> ou d'un titre de séjour valable, ainsi que d'une photocopie du document,</li>
      <li><b>- de l'original de vos diplômes</b> et certificats,</li>
      <li><b>- du montant du droit d'inscription</b> (à payer dans sa totalité par Bancontact)</li>
    </ul>
  </div>
</div>
