<div class="row">
  <h1 class="col-sm-12">Qualité</h1>
</div>
<div class="row">
  <div class="col-sm-8">
    <h3 class="box_header">IEPSCF NAMUR Cadets : membre fondateur du  pôle académique de Namur !</h3>
    <p class="info justify">
      Fondé sur le décret « Paysage » qui vise à harmoniser l’enseignement supérieur en Fédération Wallonie-Bruxelles, <a href="http://www.poledenamur.be" target="_blank">le pôle académique de Namur</a> rassemble 14 établissements d’enseignement supérieur, soit 7 institutions de promotion sociale dont l’IEPSCF Namur Cadets, 4 hautes écoles (HEAJ, HECh, HEPN, HENALLUX) , l' école supérieure des arts (IMEP) et deux universités (UNamur et Gembloux Ulg). Le Pôle sera attentif à favoriser l’affirmation d’une identité commune, transcendant les spécificités de ses membres.
    </p>
    <p class="info justify">
      Dans ce nouveau paysage visant aux synergies, collaborations et concertations, je tiens à souligner le rôle actif que notre établissement joue déjà depuis des années dans l’ancrage de la formation REBOND (programme de formation pour les étudiants de premier bachelier des hautes écoles et des universités en décrochage).
    </p>
    <p class="info justify">
      Dans une perspective de développement d’un sentiment d’appartenance de ses membres mais aussi de visibilité, le Pôle utilise des outils de communication tels qu’un logo, un site web et l’utilisation des réseaux sociaux.
    </p>

    <h3 class="box_header">
      Les unités d'enseignement et le système modulaire
    </h3>
    <p class="info justify">
      Chaque unité d'enseignement est sanctionnée par une attestation de réussite.
      La capitalisation des attestations de réussite des unités de d'enseignement constitutives d'une section
      permet d'obtenir le titre d'études de la section en présentant l'épreuve intégrée (projet de fin d'études).

    </p>

    <h3 class="box_header">
      Un enseignement de qualité
    </h3>
    <a href="http://www.wallonie-bruxelles-enseignement.be/index.cfm?page=qualiteEPS&amp;profil=visiteur" target="_blank">
      La démarche qualité dans l'enseignement de promotion sociale
    </a>
    <br><br>
    <p class="info justify" style="padding-bottom:1em;">
      Soumis aux procédures d’évaluation réalisées par <a href="http://www.aeqes.be" target="_blank">l’Agence de la Qualité de l’Enseignement

      supérieur</a>, le défi que nous relevons au quotidien est de proposer un enseignement de qualité,

      dispensé par des chargés de cours et des experts du terrain passionnés par leur mission,

      attentifs à vos projets et soucieux d’actualiser en permanence les méthodes didactiques

      adaptées à un public adulte. Les membres des personnels de l’Institut sont tous porteurs

      d’un même message :<span class="blue"> « SE FORMER AUJOURD’HUI POUR MIEUX S’EPANOUIR

				DEMAIN ».</span> Notre mission est d’accompagner chacun de nos étudiants vers la réussite de

      son projet professionnel voire de son projet de vie.
      <br><br>
      Dans un souci d’amélioration continue des actions d’enseignement et de formations

      dispensées par notre Institut, le travail élaboré par la cellule qualité est d’un intérêt

      majeur et impose l’implication de tous les acteurs de notre communauté éducative. Elle vise

      à développer un état d’esprit permanent d’auto-évaluation à l’égard des activités menées par

      chacun d’entre nous, à son niveau de responsabilité. Il s’agit donc de faire preuve d’un sens

      critique constructif dans l’intérêt général de Namur Cadets.
      <br><br>
      Vous pouvez également consulter les rapports de l'agence de la Qualité de l’Enseignement supérieur concernant notre institut (IEPSCF Namur) ainsi que tous les autres instituts Namurois via ce <a href="http://www.aeqes.be/recherche.cfm?q=IEPSCF+Namur" target="_blank">lien</a>.
      <br><br>
      Nous avons déjà été évalué pour les cursus suivant :
    </p>
    <ul style="list-style-type:disc;list-style-position:inside;line-height:1.5em;">
      <li><a href="http://www.aeqes.be/documents/20140207ConstruIEPSCFNamurRFS1.pdf" target="_blank">bachelier en construction</a></li>
      <li><a href="http://www.aeqes.be/documents/20120606RFSIEPSCFNamur.pdf" target="_blank">bachelier en informatique de gestion</a></li>
      <li>bachelier en électromécanique (non disponible)</li>
    </ul>
    <p>Nous serons bientôt évalué dans le câdre du bachelier en comptabilité,...</p>

    <h3 class="box_header">
      Que sont les ECTS ?
    </h3>
    <p class="info justify">
      E.C.T.S (EUROPEAN CREDIT TRANSFERT SYSTEM)/CRÉDITS : unité de mesure correspondant au temps consacré, par l’étudiant, au sein d’un programme d’études, à une activité d’apprentissage dans une discipline déterminée. <br>



      Un crédit correspond à un nombre d’heures forfaitaire d’activités d’apprentissage. Cette charge horaire n’est que partiellement consacrée à des enseignements organisés par l’établissement, mais comprend d’autres activités associées, telles que les travaux, exercices personnels, préparations, études, projets, recherches documentaires, épreuves,...<br>

      <a href="http://ec.europa.eu/education/tools/docs/ects-guide_fr.pdf" target="_blank">Consultez le guide complet</a> ou <a href="http://ec.europa.eu/education/ects/ects_fr.htm" target="_blank">visitez leur site</a>.
    </p>

  </div>
  <div class="col-sm-4">
    <h3 class="box_header">Galerie</h3>
    <ul class="row galery">
      <li class="col-sm-4" *ngFor="let picture of pictures">
        <img src="{{picture}}" alt ="">
      </li>
    </ul>

    <wp-contact-information></wp-contact-information>
    <div class="row">
      <div class="col-sm-12 notification_box">
        <h2 class="notification_dir"> Règlement d'ordre intérieur </h2>
        <a class="right_white" href="assets/documents/roi2017.pdf" target="_blank">Télécharger</a>
        <h2 class="notification_dir"> Charte de qualité </h2>
        <a class="right_white" href="assets/documents/charte.pdf" target="_blank">Télécharger</a>
        <h2 class="notification_dir"> Formulaire d'évaluation des <abbr title="unités d'enseignement">UE</abbr></h2>
        <a class="right_white" href="assets/documents/eval_enseignements.pdf" target="_blank">Télécharger</a>
      </div>
    </div>
  </div>
</div>
