<div class="row">
  <h3 class="box_header">Contact et informations</h3>
  <p class="gray-border-bottom">
    N'hésitez pas à nous contacter pour de plus amples informations.Veuillez tenir compte qu'en période d'inscription, nos lignes sont souvent occupées. Merci de votre compréhension et de votre patience.
  </p>
  <ul>
    <li class="gray-border-bottom">par téléphone: <strong>081/22.29.03 & 081/22.92.39</strong></li>
    <li class="gray-border-bottom">par e-mail: <a href="mailto:info@iepscf-namur.be">info@iepscf-namur.be</a></li>
  </ul>
</div>
