body {
  padding-top: 20px;
  height: 100%;
}

.row {
  margin-top: 15px;
}

img {
  width: 100%;
}

.navbar {
  margin-bottom: 20px;
}

.box_header:after {
  content: "";
  display: block;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #42B3E5;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans';
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 24px;
  margin-bottom: 25px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 16px;
  margin-bottom: 20px;
}

.gray-border-bottom {
  border-bottom: 1px solid #E0E0E0;
}

.justify {
  text-align: justify;
}

router-outlet p,
router-outlet li {
  color: #666;
}

.list li {
  line-height: 150%;
  background-position: left center;
  padding: 5px 0 5px 18px;
}
.icon_small_arrow
{
  background-position: center;
  background-repeat: no-repeat;
}
.icon_small_arrow.right_black {
  background-image: url("/assets/images/icon_arrow_right_black.png");
}


.sentence {
  font-family: 'Volkhov';
  color: #3156A3;
  font-style: italic;
  font-size: 16px;
  margin-top: 25px;
  line-height: 150%;
}
