<div class="row">
  <img src="assets/images/PorteOuverte2017.jpg"/>
</div>

<div class="row gray">
  <div class="col-sm-9">
    <h1>Un enseignement de qualité</h1>
    <ul>
      <li>Chaque unité d'enseignement est validée par une attestation de réussite</li>
      <li>Certification oficielle de la Communauté française</li>
    </ul>
  </div>
  <div class="col-sm-3 button">
    <span>Découvrez</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    Les deux dernières actualités
  </div>
  <div class="col-sm-4">
    <wp-course-categories></wp-course-categories>
    Suivi de contact et informations
  </div>
</div>
